@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "";
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 74px;
  top: 0;
  left: 0;
  background-color: beige;
}

.header__inner {
  display: flex;
  padding: 0 120px;
  align-items: center;
  height: inherit;
}
@media screen and (max-width: 1024px) {
  .header__inner {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 15px;
  }
}

.header__name {
  font-size: 26px;
  font-weight: 500;
  color: #2B3F2F;
  display: flex;
  align-items: center;
  margin-right: auto;
  height: inherit;
}
@media screen and (max-width: 768px) {
  .header__name {
    font-size: 24px;
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 66px;
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #2B3F2F;
  height: inherit;
}

.header__contact {
  margin-left: 66px;
}

.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #2B3F2F;
  transition: 0.3s;
}

.hamburger span:first-child {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:first-child {
  top: 8px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 8px;
  transform: rotate(45deg);
}

.drawer-menu {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #f7f7ee;
}

.drawer-menu__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}

.drawer-menu__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawer-menu__item {
  display: inline-block;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 50px;
}

.drawer-menu__link {
  line-height: 1.875;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #2B3F2F;
}

.drawer-menu__contact {
  margin-top: 48px;
}

.mv {
  width: 100%;
  height: 100vh;
  background-image: url(/images/mv-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 48px;
  transform: translate(-50%, -50%);
  color: #f7f7ee;
  line-height: 1.375;
  text-align: center;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .mv__title {
    font-size: 30px;
    line-height: 1.467;
  }
}

.vision {
  padding: 145px 0 120px;
}
@media screen and (max-width: 768px) {
  .vision {
    padding: 135px 0 140px;
  }
}

.vision__header {
  margin-top: 50px;
}

.vision__text {
  margin-top: 50px;
}

.service {
  padding: 100px 0 100px;
  background-color: #f7f7ee;
}

.service__cards {
  margin-top: 50px;
  display: grid;
  column-gap: 35px;
  row-gap: 46px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
@media screen and (max-width: 768px) {
  .service__cards {
    padding: 0 12.5px;
  }
}

.card__img {
  aspect-ratio: 4/3;
}

.card__title {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.562;
  color: #2B3F2F;
}
@media screen and (max-width: 768px) {
  .card__title {
    margin-top: 15px;
  }
}

.news {
  padding: 100px 0 101px;
}
@media screen and (max-width: 768px) {
  .news {
    padding: 105px 0 100px;
  }
}

.news__items {
  margin-top: 50px;
}

.news__item {
  display: flex;
  padding-bottom: 30px;
  border-bottom: solid 1px black;
}
.news-item {
  color: #2B3F2F;
}

.news-item__date {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.467;
}

.news-item__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  margin-left: 40px;
  letter-spacing: 0.05em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.inner {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.heading {
  position: relative;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 17px;
  letter-spacing: 0.05em;
  color: #2B3F2F;
}

.heading.heading--center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .heading.heading--center {
    text-align: left;
  }
}

.heading.heading--center::after {
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .heading.heading--center::after {
    text-align: left;
    left: 0;
    transform: translateX(0);
  }
}

.heading::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 34px;
  height: 4px;
  content: "";
  border-radius: 2px;
  background-color: #2B3F2F;
}

.text {
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 1.875;
}

.text.text--large {
  font-size: 24px;
  line-height: 1.833;
}
@media screen and (max-width: 768px) {
  .text.text--large {
    font-size: 20px;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 15px;
  transition: background-color 0.3s;
  letter-spacing: 0.05em;
  color: #fff;
  border-radius: 4px;
  background-color: #2B3F2F;
}
.contact-button:hover {
  opacity: 1;
  background-color: #4D6452;
}

.contact-button.contact-button--wide {
  font-size: 20px;
  width: 220px;
}
@media screen and (max-width: 768px) {
  .contact-button.contact-button--wide {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */