@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "";
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  width: 100%;
  height: 74px;
  top: 0;
  left: 0;
  background-color: beige;
}

.header__inner {
  display: flex;
  padding: 0 120px;
  align-items: center;
  height: inherit;
}

.header__name {
  font-size: 26px;
  font-weight: 500;
  color: #2B3F2F;
  margin-right: auto;
  align-items: center;
  height: inherit;
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 66px;
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.05em;
  color: #2B3F2F;
  height: inherit;
}

.button__contact {
  margin-left: 66px;
}

.inner {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.heading {
  position: relative;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 17px;
  letter-spacing: 0.05em;
  color: #2B3F2F;
}

.heading.heading--center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .heading.heading--center {
    text-align: left;
  }
}

.heading.heading--center::after {
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .heading.heading--center::after {
    text-align: left;
    left: 0;
    transform: translateX(0);
  }
}

.heading::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 34px;
  height: 4px;
  content: "";
  border-radius: 2px;
  background-color: #2B3F2F;
}

.text {
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 1.875;
}

.text.text--large {
  font-size: 24px;
  line-height: 1.833;
}
@media screen and (max-width: 768px) {
  .text.text--large {
    font-size: 20px;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 15px;
  transition: background-color 0.3s;
  letter-spacing: 0.05em;
  color: #fff;
  border-radius: 4px;
  background-color: #2B3F2F;
}
.contact-button:hover {
  opacity: 1;
  background-color: #4D6452;
}

.contact-button.contact-button--wide {
  font-size: 20px;
  width: 220px;
}
@media screen and (max-width: 768px) {
  .contact-button.contact-button--wide {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */