@use "./base/base";
@use "./base/reset";
@use "./global" as *;

//ヘッダー
.header {
    position:fixed;         //スクロールが必要な画面のが大きさになったらfixedの動作確認
    z-index: 1000;
    width: 100%;
    height: 74px;
    top:0;
    left:0;
    background-color: beige;
}

.header__inner {
    display: flex;
    padding: 0 120px;
    align-items: center;
    height:inherit;
    @include mq("lg"){
        padding: 0 25px;
    }
    @include mq("md"){
        padding: 0 15px;
    }
}

.header__name {
    font-size: 26px;
    font-weight: $medium;
    color:$green;
    display: flex;
    align-items:center;
    margin-right: auto;
    height:inherit;
    @include mq("md"){
        font-size: 24px;
    }
}

.header__nav {
    height:inherit;
}

.header__items {
    display: flex;
    align-items: center;
    height:inherit;
}

.header__item:not(:first-child) {
    margin-left: 66px;
}

.header__link {
    font-size: 16px;
    font-weight: $medium;
    display: flex;
    align-items:center;
    letter-spacing: 0.05em;
    color:$green;
    height:inherit;
}

.header__contact {
    margin-left: 66px;
}

//ハンバーガーメニュー
.hamburger {                    //3本線の位置/大きさを定義
    position:fixed;
    z-index: 9999;
    top: 30px;
    right: 15px;
    width:25px;
    height:16px;
    cursor:pointer;
}

.hamburger span{                //3本線を定義
    position:absolute;
    left: 0;                    //hamburgerクラスの中でLeft:0
    display: inline-block;
    width: 100%;
    height:2px;
    background-color:$green;
    transition:  0.3s;
}

.hamburger span:first-child{
    top:0px;
}
.hamburger span:nth-child(2){
    top:8px;
    transition: opacity 0.3s;
}
.hamburger span:nth-child(3){
    top:16px
}

.hamburger.is-active span:first-child{
    top:8px;
    transform:rotate(-45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
}
.hamburger.is-active span:nth-child(3){
    top: 8px;
    transform:rotate(45deg);
}

.drawer-menu {
    position: absolute;
    z-index: 9999;
    top: 0;
    left:0;
    display:none;               //通常は非表示
    width: 100%;
    height: 100vh;
    background-color: $beige;
}


.drawer-menu__inner {
    display: flex;
    flex-direction: column;     //狭いので縦並びになるはずだが、中央寄せの指定をするために実装
    align-items: center;
    justify-content: center;
    width:100%;
    height: inherit;
}
.drawer-menu__items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.drawer-menu__item{
    display: inline-block;
}
.drawer-menu__item:not(:first-child){
    margin-top: 50px;
}

.drawer-menu__link {
    line-height: 1.875;
    font-size: 16px;
    font-weight: $medium;
    letter-spacing: 0.05em;
    color:$green;
}

.drawer-menu__contact {
    margin-top: 48px;
}

//メインビュー
.mv {
    width:100%;
    height:100vh;
    background-image: url(/images/mv-img.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}

.mv__inner {
    position:relative;
    width: 100%;
    height:inherit;
}

.mv__title {
    position:absolute;
    top:50%;
    left:50%;
    width: 100%;
    font-size: 48px;
    transform: translate(-50%, -50%);        //難易度：高
    color:$beige;
    line-height: 1.375;
    text-align: center;
    letter-spacing: 0.05em;

    @include mq("md"){
        font-size: 30px;
        line-height: 1.467;
    }
}

// Visionセクション
.vision {
    padding: 145px 0 120px;

    @include mq("md"){
    padding: 135px 0 140px;
    }
}

.vision__header {
    margin-top: 50px;
}

.vision__text  {
    margin-top: 50px;
}

// Serviceセクション
.service {
    padding: 100px 0 100px;
    background-color: $beige;
}

.service__cards {       //Serviceの重要ポイント
    margin-top: 50px;
    display: grid;          //グリッドレイアウトを定義（mdn）
    column-gap: 35px;
    row-gap: 46px;
   // grid-template-columns: 150px 150px 150px;  //本来の使い方
   // minmax():下限のサイズ
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    @include mq("md"){
        padding: 0 12.5px;
    }
}

.card__img {
    aspect-ratio: 4 / 3;
}

.card__title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: $medium;
    text-align:center;
    //line-height: 1;         //デザインカンプは行間が25、フォント16px⇒1
    line-height: 1.562;       //ただ動画は行間が25、フォント16pxって言っているので、25/16＝1.562
    color: $green;
    @include mq("md"){
        margin-top: 15px;
    }
}
//Newsセクション
.news {
    padding: 100px 0 101px;
}

.news__inner {
}

.news__heading {

}

.news__items {
}

.news__item {
    display: flex;
    padding-bottom: 30px;
    border-bottom:solid 1px beige;
    @include mq("md"){
        direction ;
    }
}

.news-item {
    margin-top: 30px;
    color: $green;
}

.news-item__date {
    font-size: 15px;
    line-height: 1.467;
    font-family: "Roboto", sans-serif;
}

.news-item__title {
    margin-left: 40px;
    font-size: 15px;
    letter-spacing: 0.05em;
}



//共通パーツ

.inner {
    width:100%;
    max-width: 1080px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 25px;
    padding-right: 25px;
    @include mq("md"){
        padding-left: 15px;
        padding-right: 15px;
    }
}

.heading {
    //並び
    position: relative;
    font-size: 36px;
    font-weight: $medium;
    //余白
    padding-bottom: 17px;
    letter-spacing: 0.05em;
    color: $green;
    //大きさ（指定なし）
}

.heading.heading--center {
    text-align: center;

    @include mq("md"){
        text-align: left;
    }
}

.heading.heading--center::after {
    left :50%;
    transform: translateX(-50%);

    @include mq("md"){
        text-align: left;
        left :0;
        transform: translateX(0);
    }
}


.heading::after {
    //並び
    position:absolute;
    bottom:0;
    left:0;
    //余白（指定なし）
    //大きさ
    width: 34px;
    height: 4px;
    //疑似要素に必須
    content:"";
    border-radius: 2px;
    background-color: $green;
}

.text {
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: $medium;
    //line-height:行間サイズ/フォントサイズ
    line-height: 1.875;
}

.text.text--large {
    font-size: 24px;
    //line-height:行間サイズ/フォントサイズ
    line-height: 1.833;

    @include mq("md"){
    font-size: 20px;
    }
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    padding: 15px;
    transition: background-color 0.3s;
    letter-spacing: 0.05em;
    color: $white;
    border-radius: 4px;
    background-color: $green;
    &:hover {
        opacity:1;
        background-color: $green2;
    }
}

.contact-button.contact-button--wide {
    font-size: 20px;
    width: 220px;

    @include mq("md"){
        font-size: 16px;
    }
}

.md-none {
    @include mq("md"){
        display: none;
    }
}

.md-show {
    display: none;
    @include mq("md"){
        display: block;
    }
}